*.i
*.o
*.a
*.elf
*.hex
*.bin
*.dfu
*.map
*.log
*.raw
*.swp
.DS_Store
.depend
*.list
*.out
*.pyc
*.jdebug
*.jdebug.user

pycrc*
__pycache__/

*.eps
obj_*
conf_templates.c
commandslist.h
hal_tbl.c
toolchain-user.mak
build/